@mixin createContainer {
    @each $size in sm, md, lg, xl, fluid {
        .container-#{$size} {
            @include container;
        }
    }
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    margin-right: 1em;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
}

.nav-links li a.active {
    font-weight: bold;
}

.dropdown {
    position: relative;
}

.dropdown-btn {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 150px;
    z-index: 1;
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #555;
}

.search-box {
    margin-left: auto;
}

.search-box input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 4px;
}

.search-box button {
    padding: 8px 12px;
    background-color: #555;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.hamburger-menu {
    display: none;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .search-box {
        display: none;
    }

    .hamburger-menu {
        display: block;
        cursor: pointer;
    }

    .bar {
        width: 25px;
        height: 3px;
        background-color: #fff;
        margin: 5px 0;
    }
}
.show {
    display: block;
}
.shows {
    display: flex;
}
